*{
margin:0;
padding:0;
}
body{
height:100%;
}
img{
width:100%;
}
header{
padding:10px;
position:fixed;
background-color:white;
width:100%;

}
.header-img{
background-image:url("header.jpg");
background-repeat:no-repeat;
background-size:400px;
height:300px;
width:100%;
margin-top:50px;
font-size:40px;
text-align:center;
line-height:300px;
color:white;
}
.icon{
position:absolute;
top:10px;
right:30px;
}
.icon span{
font-size:40px;
}
#Mybotton{
color:orange;
}
header h1{
text-align:center;
font-family: 'Langar', cursive;
color:skyblue;

}
main{
width:100%;
padding-top:30px;
}

.discription{
background-color:white;
border-radius:10px;
}
.discription2{
margin-top:30px;
}
.discription h2{
  text-align:center;
  font-family: 'Nerko One', cursive;
  padding:30px;
  background-image:url("blue.jpg");
  background-repeat:no-repeat;
  letter-spacing:10px;
}
.baner figure{
padding:20px;
}
.baner2{
padding:20px;
}
.discription h3{
line-height:50px;
letter-spacing:5px;
}
.caption{
padding:10px;
}
.before-after{
}
.container{
display:flex;
margin-top:20px;
padding:10px;
}
.myimg2{
width:200px;
margin-right:10px;
}
.moji{
width:150px;
}
.nagare2{
padding:10px;

}
.nagare h3{
color:orange;
text-shadow:5px 10px 5px #666666;
}
.nagare h4{
padding:10px;
text-align:right;
color:tomato
}
.situmonn h3{
letter-spacing:10px;
line-height:20px;
}
.situmonn2{
padding:10px;
}
.acsece2{
padding:10px;
}
.acsece2 h4{
text-align:right;
padding:10px 0;
}
.acsece .iframe {
width:100%;
}
.acsece .iframe iframe{
width:100%;
}
footer{
  padding:30px;
  text-align:center;
  background-color:skyblue;
  color:white;
}
.mymenu{
background-color:rgba(255,255,255,0.9);
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
opacity:0;
pointer-events:none;

}
.myicon2{
position:absolute;
top:10px;
right:10px;
}
.myicon2 span{
font-size:40px;
}
#myicon3{
color:orange;
}
.mymenu ul{
  margin-top:200px;
}
.mymenu ul li{
text-align:center;
font-size:30px;
}
.bisvle{
opacity:1;
pointer-events:auto;
animation-name:a;
animation-duration:3s;
}
.heddin{
opacity:0;
pointer-event:none;
}
.open{
display:none;
}
@keyframes a{
 0%{
 opacity:0
 }
 100%{
 opacity:1
 }
}
 
